@model SnackTime.ViewModels.LoginViewModel

@{
    ViewData["Title"] = "Log in";
}

<html>
<head>
    <title>Profile</title>
</head>
<body>
<form asp-action="Login" method="post">
    <div>
        <label>E-mail adres</label>
        <input asp-for="Email"/>
    </div>
    <div>
        <label>Wachtwoord</label>
        <input type="password" asp-for="Password"/>
    </div>
    <button type="submit">Inloggen</button>
</form>
<button type="button" onclick="location.href='@Url.Action("Register", "Account")'">Registreren</button>
</body>
</html>